@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color:#053d39 !important;
    color:white !important;
    line-height: normal;
    letter-spacing: normal;
}


.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 800px;
    text-align: center;
}

.title_ademcan{
    font-weight: 600;
    font-size: 2em;
}

.description {
    margin: 1.2rem;
}

.icon {
    display: inline-block;
    width: 2em;
    height: 2em;
}

.int {
    padding-top:  20px;
    padding-bottom:  20px;
}

.int, .social {
    font-size: 1.3em;
}

.int, .about, p {
    margin-bottom: 10px;
}

.int, .ademcan {
    text-align: center;
    margin-bottom: 1em;
}

.int .ademcan .ademcan_img {
    border-radius: 100%;
    width: 8em;
    height: 8em;
    border: 4px solid #555c57;
    object-fit: cover;    
}
 .social{
    margin-top: 40px;
    margin-bottom: 50px;
 }

.social .social_link a {
    font-weight: 600;
    line-height: 25px;
    display: inline-block;

}
#work-experience{
    text-align: center;

}
#work{
    font-weight: bold;
    margin-bottom: 10px;
}

.date{
    font-style: italic;
}

a {
    color: white;
    text-decoration: none;
}

.twitter:hover{
    color: #8657f2;
}

.github:hover {
    color: #85737c;
}


.email:hover {
    color: #f257c4;
}


.instagram:hover {
    color: #066d27;
}


.num:hover{
    color:peru;
}




.instagram:hover {
    color: #066d27;
}

.image {
 text-align: center;
}
.image img{
    width: 20%;
}